<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pets 1</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/myStyles.css">
</head>
<body>
    <div class="container">
        <h1>Pets are amazing!</h1>
        <p>Welcome to our page. Find out why dogs are so much better than cats</p>
        <p><img src="img/puppy.jpg" alt="Puppy"></p>
        <h2><a href = "views/dog.html">Dogs</a></h2>
    </div>
</body>
</html>